{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "react-app",
    "airbnb",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "jsx-a11y"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "object-curly-newline": "off",
    "comma-dangle": ["error", "never"],
    "linebreak-style": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": "off",
    "operator-linebreak": "off"
  }
}
